<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sites Detail</title>
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss"><!-- do not remove this line! -->

    <script async src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <include src="./nav.html"></include>
    <main>
        <!-- <article id="sites-detail">
            <script type="module" src="./js/detail.js"></script>
        </article>
        <section>
            <div class="galery" id="galery">
                <script type="module" src="./js/newimages.js"></script>
            </div>
        </section> -->
    </main>
    <include src="./footer.html"></include>
</body>
</html>
