* {
  --primary-color:#111;
  --secondary-color: #333;
  --third-color: #9897a9;
  --bad-color: #ED1B24;
  --active-color: #2b6ebb;
  --analogue-color-1: #003366;
  --analogue-color-2: #0088cc;
  --greenishBlue-1: #338c99;
  --greenishBlue-2: #66b2ab;
  --greenishBlue-3: #99d9bd;
}
